:root{
    --caramel: #b27d4a;
    --cream: #fffceb;
    --grey: #494848;
}

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    background: var(--cream);
    font-family: sans-serif;
}

/* Navigation part */

header{
    background: var(--caramel);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    color: #fffceb;
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0; 
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: "";
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--caramel);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: white;
    border: none;
    background: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color: #000;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


/* Main part */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 2rem;
}


.container{
    height: 340px;
    width: 340px;
    display: grid;
    border: 3px solid;
    box-shadow: 0px 5px 10px #888886;
}


.box{
    border: solid var(--caramel) 1px;
    min-width: 10px;
    min-height: 10px;
    display: flex;
}

.userChoice{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: var(--grey);
    font-weight: 900;
    gap: 2em;
}

.size{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

#colorPicker{
    min-width: 50px;
    min-height: 50px;
    border: none;
    background: none;
    border-radius: 100%;
}

#colorPicker::-webkit-color-swatch{
    border-radius: 100%;
    border: none;
}

#colorPicker::-moz-color-swatch{
    border-radius: 100%;
    border: none;
}

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 100px;
    height: 8px;
    background: #fff;
    border-radius: 5px;
    border: 2px #555 solid;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--grey);
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

.userChoice button{
    padding: 4px;
    background: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: var(--grey);
    border-radius: 1em;
    box-shadow: 0px 5px 15px #d2d2cf;
}

.userChoice .selectColor{
    background: var(--grey);
    color: #fff;
}

@media screen and (min-width: 860px){
    .nav-toggle-label{
        display: none;

    }

    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo{
        grid-column: 2 / 3;
    }

    nav{
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul{
        display: flex;
        justify-content: flex-end;
    }

    nav li{
        margin-left: 3em;
        margin-bottom: 0;
    }
    
    nav a{
        opacity: 1;
        position: relative;
    }

    nav a::before{
        content: " ";
        display: block;
        height: 12px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before{
        transform: scale(1, 1)
    }

    /* Main */
    main{
        flex-direction: row;
        gap: 5rem;
    }

    .userChoice{
        flex-direction: column;
        gap: 5rem;
    }

    .container{
        width: 700px;
        height: 700px;
    }

    #colorPicker{
        min-width: 100px;
        min-height: 100px;
    }

    .userChoice button{
        width: 100px;
        font-size: 1rem;
    }

    .userChoice button, input{
        cursor: pointer;

    }

    .size{
        font-size: 1.2em;
    }

}

